@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Taras start*/
:root {
    --hcolor:#F1C324;
    --conttext:#6E6E6E;
    --allcont:#FFFFFF17;
    --contacts-background: #141414;
    --footer-background:#F7F9FB;
    --footer-horer: darkcyan;
}
#contacts {
    padding-top: 10px;
    background-color: var(--contacts-background);
}
@media (min-width:800px) {
    #contacts{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.all-cont {
    background-color: var(--allcont);
    margin: 20px;
    padding: 30px;
}

.cont {
    font-family: Dosis, sans-serif;
    font-size: 34px;
    color:var(--hcolor);
    font-weight: 700;
    margin-bottom: 20px;
}
.all-cont>p {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
}
.all-cont span {
    font-size: 25px;
    font-weight: 700;
}
.adr {
    padding: 20px;
}
.address-list {
    font-size: 17px;
    font-family: Roboto,sans-serif;
    color:var(--conttext);
    font-weight: 400;
    list-style-type: none;
}
@media(min-width:800px) {
    .adr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .cont {
        font-size: 48px;
    }
}
iframe {
    width: 100%;
}
#contact-pic {
    width: 100%;
    height: 100%;
}

footer {
    background-color:var(--footer-background);
    width: 100%;
    padding-top: 100px;
}
footer a {
    color: var(--black);
    text-decoration: none;
}
#footer-logo {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#amazing {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    margin: 50px 10px 10px 10px;
}
.footer-menu {
    list-style-type: none;
}
.footer-menu li {
    text-align: center;
    font-size: 17px;
    font-family: Roboto,sans-serif;
    font-weight: 500;

}
.footer-menu a:hover {
    color:var(--footer-horer);
}
.footer-menu>li {
    padding: 10px;
}
@media (min-width: 800px) {
    footer .footer-menu{
        display: flex;
        justify-content: center;
    }
}
.footer-social {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footer-social img {
    width: 30px;
    padding: 5px;
}
.created-by {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Roboto,sans-serif;

    padding: 10px;
}
.created-by li {
    padding: 10px;
}
.created-by a:hover {
    color: var(--footer-horer);
}
@media (min-width:600px) {
    .created-by{
        display: flex;
        justify-content: center;
    }
  
}
#footer-img {
   width: 100%;
}
/*Taras end*/