@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Taras start*/
* {
    margin: 0;
    padding: 0;
}
:root {
    --hcolor:#F1C324;
    --conttext:#6E6E6E;
    --allcont-container-color:#FFFFFF17;
    --contacts-background-color: #141414;
    --footer-background-color:#F7F9FB;
    --footer-horer-color: rgb(8, 233, 233);
}
#contacts {
    background-color: var(--contacts-background-color);
}
@media (min-width:800px){
    #contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.all-cont {
    background-color: var(--allcont-container-color);
    margin: 20px;
    padding: 30px;
}

.cont {
    font-family: Dosis, sans-serif;
    font-size: 34px;
    color:var(--hcolor);
    font-weight: 700;
    margin-bottom: 20px;
}
.all-cont>p {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
}
.all-cont h3 {
    font-size: 22px;
    font-weight: 700;
}
.adr {
    padding: 10px 0 10px 0;
}
.address-list {
    font-size: 17px;
    font-family: Roboto,sans-serif;
    color:var(--conttext);
    font-weight: 400;
    list-style-type: none;
    padding-bottom: 10px;
}
@media(min-width:800px) {
    .adr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .cont {
        font-size: 48px;
    }
    #contact-pic {
        display: none;
    }
    #contact-pic-div {
        width: 100%;
        background-image: url(../img/contacts-tunnel.jfif);
        background-size: cover;
        background-position: 35%;
    }

}

iframe {
    width: 100%;
}
#contact-pic {
    width: 100%;
    height: 100%;
}

footer {
    background-color:var(--footer-background-color);
    width: 100%;
    padding-top: 100px;
}
footer a {
    color: var(--black);
    text-decoration: none;
}
#footer-logo {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#amazing {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    margin: 50px 10px 10px 10px;
}
.footer-menu {
    list-style-type: none;
    padding: 0;
}
.footer-menu li {
    text-align: center;
    font-size: 17px;
    font-family: Roboto,sans-serif;
    font-weight: 500;

}
.footer-menu a:hover{
    color:var(--footer-horer-color);
}
.footer-menu>li{
    padding: 10px;
}
@media (min-width: 800px) {
    footer .footer-menu {
        display: flex;
        justify-content: center;
    }
}
.footer-social {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footer-social img {
    width: 30px;
    padding: 5px;
}
.created-by {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    padding: 10px;
}
.created-by li {
    padding: 10px;
}
.created-by a:hover {
    color: var(--footer-horer-color);
}
@media (min-width:600px) {
    .created-by {
        display: flex;
        justify-content: center;
    }
}
#footer-img {
   width: 100%;
}
/*Taras end*/