/*-- Mariana's Block Start */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.customers-section { 
    background-color: white;
    font-family: dosis, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}
.customers-headline {
    font-weight: bold;
}
.customers-text {
    font-size: 20px;
}
.customers-name {
    color: #141414;
    font-size: 22px;
    font-weight: bold;
    font-family: Dosis, sans-serif;
}  
.color-text {
    color: #24B8F1;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

#block-left {
    position: fixed;
    left: 0px;
    width: 50%;
   
}
#block-right {
    position: fixed;
    right: 0px;
   width: 50%;
   
}

.ready-section {
    background-image: url("../img/maidan.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
}
.ready.headline {
    font-family: dosis, sans-serif;
    font-weight: bold;
    color: #141414;
    text-align: center;
}
.ready-text {
    font-family: dosis, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center; 
}
.ready-button {
    background-color: blue;
    color: white;
    background-position: center;
    text-align: center;
}
.ready-button:hover {
    background-color: yellow;

}