
/* Tanya Tkach block start */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo-container img {
    width: 100px;
    height: 100px;
}

.logo-header {
    color: white;
    font-size: 30px;
}

@media (max-width: 700px) {
    .logo-header {
        display: none;
    }
}

 header .container-fluid {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px;
    position: relative;  
    left: 400px;
 }

h1 {
    color: yellow;
    font-size: 180px;
    font-family:Dancing Script ;
    text-align: center;
    position: relative;
    top: 130px;
}
.text-header {
    color: yellow;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 110px;

}

header {
    background-image:url(../img/chernivtsi.jpg);
    background-position: center;
    background-size: cover;
    min-width: 400px;
    height: 700px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.white-color {
    background-color: white;
  
}
.about {
  display:grid;
  grid-template-columns:50% 50%;
}

.logo-main {
    font-size: 50px;
    padding: 20px;
}

main, img {
   object-fit: cover;
   display: block;
   width: 100%;
   height: 100%;
}
main .white-color p {
    font-size: 18px;
    padding: 20px;
}

.button-container {
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    border-radius: 0.12em;
    color:white;
    text-align: center;
    transition: color 0.7s;
    background-color:transparent;
}
.button-container button {
     background-color:yellow;
     font-weight: bold;
}

.button-container :hover {
    color: #000000;
    background-color: rgb(43, 172, 231);
    cursor: pointer;
}



/* Tanya Tkach end block */