
/* Tanya Tkach block start */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
:root {
    /*contacts and footter colors*/
    --hcolor:#F1C324;
    --contacts-text-color:#6E6E6E;
    --allcont-container-color:#FFFFFF17;
    --contacts-background-color: #141414;
    --footer-background-color:#F7F9FB;
    --footer-horer-color: rgb(8, 233, 233);
    /*contacts and footter colors*/
}
body {
    max-width: 1080px;
    margin: auto;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
header {
    background-image:url(../img/chernivtsi.jpg);
    background-position: center;
    background-size: cover;
    min-width: 400px;
    min-height: 750px;
}

.logo-container img {
    width: 100px;
    height: 100px;
}

.logo-header {
    color: white;
    font-size: 22px;
    font-weight: bold;
}
/* Modal window */
.open-btn {
    padding: 10px 30px;
    font-size: 25px;
}
@media (min-width: 610px) {
    .open-btn {
        display: none;
    } 
}
button,
input[type='submit'] {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}
button:focus {
  outline: none;
}
.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}
.modal-nav-menu {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-menu {
  background: black;
  color:white;
  padding: 50px;;
}

.modal-menu img {
    height: 90px;
    width: 90px;
}
.close-btn {
    font-size: 35px;
    color: white;
    text-decoration: none;
    background: transparent;
    font-size: 25px;
    font-family: none;
    position: absolute;
    padding: 0px;
    right: 0;
    padding-right: 30px;
}


.modal-content-nav-menu {
  padding: 20px;
}

.main-nav-menu a {
    color: #f1c324;
    font-size: 18px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: bold;
}
.main-nav-menu li {
    list-style: none;
    line-height: 3;
}
.main-nav-menu li :hover {
    color: white;
    cursor: pointer;
}

.btn-contacts a::after {
    content: "   →";
    color: white;
}

.btn-contacts a {
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--main-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: var(--main-color);
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}

.main-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    padding-left: 50px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Modal window */

header .navbar {
    display: flex;
    justify-content: center;
    flex: 1;
}

header .navbar a {
    color: #f1c324;
    font-weight: bold;
    font-size: 18px;
}


@media (max-width: 700px) {
    .logo-header {
        display: none;
    }
    .nav-item a {
         display: none;
    }
  }
  header .navbar :hover {
      color: white;
  }

h1 {
    color: #f1c324;
    font-size: 130px;
    font-family: Leckerli One;
    text-align: center;
}

@media (max-width: 620px) {
    h1 {
      font-size: 110px;  
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.text-header {
    color: #f1c324;
    font-size: 22px;
    font-weight: bold;
}

.white-color {
    background-color: white;
    padding-left: 20px;
}
.about {
    display:grid;
    grid-template-columns:1fr 1fr;
}

.point {
    font-weight: 500;
    color: lightskyblue;
    font-size: 60px;
    padding-left: 20px;
}


@media (max-width: 620px) {
    .about {
     grid-template-columns:1fr;  
    }
}
.logo-main {
    font-size: 50px;
    padding: 20px;
}

 .about-image {
   object-fit: cover;
   display: block;
   width: 100%;
   height: 100%;
}

.white-color p {
    font-size: 18px;
    padding: 20px;
}

.button-container {
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    border-radius: 0.12em;
    color:white;
    transition: color 0.7s;
    background-color:transparent;
    
}
.button-container button {
    background-color:rgb(43, 172, 231);
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.button-container :hover {
    color: #000000;
    background-color:#f1c324;
    cursor: pointer;
}
