/*-- Pavlo parts start */
body{
    background-color:black;
}
.our-tours{
    background-color: black;
text-align: center;
}
.yellow-text{
    color: yellow;
    text-align: center;
    background-color: black;
    font-size: 65px;
     font-family: Roboto ;
}

p{
    text-align: center;
    color: gray;
    font-size: 18px;
}
.price{
    color: yellow;
    text-align: center;
font-size: 20px;
}
.box-part{
    color: white;
    text-align: center;
    font-size: 30px;
}
.image-carousels{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button {
    padding: 0.6em 1em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.3s;
    background-color: transparent;}

.button:hover {
    color:black;
background-color: gray;
cursor: pointer;
}
.sale-box{
    padding: 12em;
    background-color: orange;
    text-align: center;
    font-size: 20px;
    }
    .sale-title{
        font-size: 70px;
    }
/* Pavlo parts end*/

    

