/*-- Pavlo parts start */



#our-tours{
    text-align: center;
    font-size: 50px;
    color: orange;
}
@media(min-width: 640px){
.cards{
    display: grid;
    grid-template-columns:1fr 1fr ;
}
}
@media( min-width: 801px){
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.cards{ 
padding: 2em;
  margin: 5px;
  
}


.card-body{
    background-color: black;
padding: 1em;
width: 23em;
display: grid;

}
.card-title{
    color: orange;
    
}
.card-text{
    font-size: 16px;
    color: gray;
}
.card-image{
    max-width: 100%;
    display: block;
  
}

   
.sale-box{
    background-color: orange;
    text-align: center;
    font-size: 18px;
  padding: 8em;
width: auto;
}
.sale-title{
    font-size: 70px;
   
}

.card-button {
    padding: 0.5em 0.9em;
    border: 0.1em solid #FFFFFF;
    margin: 1em 0.7em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.3s;
    background-color: transparent;
  

}

.card-button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}
.sale-button{
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.3s;
    background-color: black;
}
.sale-button:hover {
    color: #000000;
    background-color: white;
    cursor: pointer;
}

/*  bootstrap
.cardo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cardi{
    padding: 20px;
    margin: auto;
    height: 35rem;
    width: 25rem;
}
*/