/*-- Pavlo parts start */

#our-tours {
    text-align: center;
    font-size: 50px;
    color: orange;
}

@media(min-width: 640px) {
    .cards {
       display: grid;
       grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
}

@media( min-width: 801px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.cards-block{
    background:linear-gradient(to bottom, white, rgb(241, 241, 138));
}
.our-tours_separator{
    font-weight: 500;
    color: lightskyblue;
    font-size: 40px;
    text-align: center;

}
.card-body {
   
    text-align: left;
    justify-content: space-around;
}

.card-titles {
    color:orange;
}

.card-price {
    color: orange;
}

.card-text {
    font-size: 16px;
    color: rgb(48, 46, 46);
}

.card-image {
    width: 100%;
    display: block;
}


.card-button {
    background-color:rgb(43, 172, 231);
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 4px;
    color: white;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.card-button:hover {
    color: #000000;
    background-color:#f1c324;
    cursor: pointer;
}
/*-------------------*/
.sale-box{
    background:linear-gradient(to bottom, yellow ,orange);
    justify-content: center;
    text-align: center;
   padding: 8em;
}


.sale-title{
    font-size: 70px;
    text-align: center;
    line-height: 50px;

}

.time-count_content{
display: flex;
justify-content: center;
}
.time-count_val{
font-size: 50px;
font-weight: 600;
line-height: 85px;
}
.time-count_separator{
    font-size: 40px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    margin: 0 33px;
}
.time-count_text{
line-height: 20px;
font-weight: 300;
font-size: 25px;
}
/*--------------------*/
.button-info {
    padding: 50px;
   }
   
.sale-button {
    padding: 0.8em 1.2em;
    border: 0;
    border-radius: 5px;
    margin: 0 0.3em 0.3em 0;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.3s;
    background-color:rgb(43, 41, 53);
    text-decoration: none;
}

.sale-button:hover {
    color: #000000;
    background-color: rgb(23, 175, 175);
    cursor: pointer;
}
