/*-- Pavlo parts start */



#our-tours {
    text-align: center;
    font-size: 50px;
    color: orange;
}

@media(min-width: 640px) {
    .cards {
       display: grid;
       grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
}

@media( min-width: 801px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.our-tours_separator{
    font-weight: 500;
    color: lightskyblue;
    font-size: 40px;
    text-align: center;
  
}
.card-body {
    background-color: black;
    border: 1px solid black;
    text-align: left;
    justify-content: space-around;
}

.card-titles {
    color: white;
}

.card-price {
    color: orange;
}

.card-text {
    font-size: 16px;
    color: grey;
}

.card-image {
    width: 100%;
    display: block;
}


.button-info {
   padding: 30px;
    align-items: center;
}


.card-button {
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.3s;
    background-color: transparent;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 4px;
    width: 100%
}

.card-button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}
/*-------------------*/
.sale-box{
    background:linear-gradient(to bottom, yellow ,orange);
    justify-content: center;
    text-align: center;
   padding: 8em;
}


.sale-title{
    font-size: 70px;
    text-align: center;
    line-height: 50px;

}

.time-count_content{
display: flex;
justify-content: center;
}
.time-count_val{
font-size: 50px;
font-weight: 600;
line-height: 85px;
}
.time-count_separator{
    font-size: 40px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    margin: 0 33px;
}
.time-count_text{
line-height: 20px;
font-weight: 300;
font-size: 25px;
}
/*--------------------*/
.sale-button {
    padding: 0.3em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.3s;
    background-color:rgb(43, 41, 53);
}

.sale-button:hover {
    color: #000000;
    background-color: rgb(23, 175, 175);
    cursor: pointer;
}
