/* Sasha second page start */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto&display=swap');
.logo {
    position: absolute;
    top: auto;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    color: #f1c324;    
    font-family: Dosis, sans-serif;
}
.menu {
    font-size: 16px;
    font-weight: 700;
    color: #f1c324;
    font-family: Roboto, sans-serif;
}
.menu a {
    font-size: 16px;
    font-weight: 700;
    color: #f1c324;
    font-family: Roboto, sans-serif;
}
/* Sasha second page start */

/* Pavlo second page start*/
#saction{
    padding: 5em;
    background-color: black;  
    color: white;     
}
.info{
    font-size: 16px;
}
.div-title{
    color: yellow;
font-size: 25px;
}

/* Pavlo second page end*/