@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Sasha second page start */

body {
    max-width: 1080px;
    margin: auto;
}

:root {
    scroll-behavior: smooth;
    --itinerary-text-color:#FFFFFF;
}

header .tours-logo {
    background-image: url(../img/bcgd-chornobyl.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 620px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) {
    .main-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.main-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    }

.header-tourslogo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    font-family: Dosis, sans-serif;
    }
.logo img{
    width: 100px;
    height: 100px;
}
.header-tourslogotwo {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    font-family: Dosis, sans-serif;
    }
header .container-fluid {
    color: #f1c324;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

header .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sasha second page end */

/* Tanya Tkach second page start*/

.logo-page-two {
    color: yellow;
    font-size: 40px;
    text-align: center;
}

.text-page-two {
    text-align: center;
    color: white;
}

.column-page-two {
    color: white;
    font-size: 20px;
}

.yellow-text {
    color: yellow;
    font-size: 25px;
    font-weight: bolder;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
@media (min-width: 420px) {
    .product-list {
        grid-template-columns: 1fr 1fr; 
    }
}
@media (min-width: 520px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}
@media (min-width: 620px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}
@media (min-width: 720px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
}


/*Tanya Tkach second page end*/

/*Taras start*/

* {
    margin: 0px;
    padding: 0px;
}

#itinerary {
    padding: 90px 24px 70px 24px;
    background-image: url(../img/itinerary.png);
    background-size: cover;
}

.h-itinerary {
    text-align: center;
    padding: 22px;
    font-family: Dosis, sans-serif;
    font-size: 34px;
    color: var(--itinerary-text-color);
}

.itinerary-day {
    font-family: Dosis, sans-serif;
    font-size: 22px;
    color: var(--itinerary-text-color);
}

.itinerary-description {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    color: var(--itinerary-text-color);
}

.itinerary-img {
    margin-top: 20px;
    width: 100%;
    max-width: 701px;
    max-height: 598px;
    min-height: 231px;
    min-width: 272px;
}

@media (min-width:800px) {
    article {
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
    }
}

article>div {
    padding-left: 30px;
}

.h-itinerary {
    font-size: 48px;
}

/*Taras end*/

/* Pavlo second page start*/

.box-container {
    background-color: black;
    font-size: 18px;
    line-height: 200%;
    display: flex;
    margin: 1em;
}

.list-info {
    list-style-type: square;
    text-align: left;
    background-color: black;
    padding: 3em;
    width: 100%;
    color: white;
    display: block;
}

.list-title {
    color: #f1c324;
    font-size: 30px;
}

.carousel-title {
    font-size: 50px;
    color: #f1c324;
    text-align: center;
    background-color: black;
}
.carousel-separator{
    font-size: 70px;
    font-weight: 500;
    color:#f1c324;
    text-align: center;
 margin: 0 60px;
}
/* Pavlo second page end*/
