@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Taras start*/
* {
    margin: 0px;
    padding: 0px;
}
#itinerary { 
    padding: 90px 24px 70px 24px;
    background-image: url(../img/itinerary.png);
    background-size: cover;
    background-color: black;
}
.h-itinerary {
    text-align: center;
    padding: 22px;
    font-family: Dosis, sans-serif;
    font-size: 34px;
    color: #FFFFFF;
}
.itinerary-day {
    font-family: Dosis, sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}
.itinerary-description {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
}
.itinerary-img {
    margin-top: 20px;
    width: 100%;
    max-width: 701px;
    max-height: 598px;    
    min-height: 231px;
    min-width: 272px;
}
@media (min-width:800px) {
    article {
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
    }
    article>div {
        padding-left: 30px;
    }
    .h-itinerary {
        font-size: 48px;
    }
    

/*Taras end*/